body{
    font-family: "Roboto",sans-serif;
}

/* Bg-color */
.my_bg-whitesmoke{
    background-color: #f8f9fa;
}

.my_bg-gainsboro{
    background-color: #e5e5e5;
}

.my_bg-darkblue{
    background-color: #051e34;
}

.my_bg-royalblue{
    background-color: #1b72e8;
}

.my_bg-blue{
    background-color: #165bba;
}

.my_bg-lightgrey{
    background-color: #f7f7f7;
}

.my_bg-seagreen{
    background-color: #238c5b;
    color: white;
}

.my_bg-gold{
    background-color: #ffc107;
    color: white;
}

.my_bg-crimson{
    background-color: #dc3545;
    color: white;
}

/* color */
.my_color-darkorange{
    color: #ff8f00;
}

.my_color-royalblue{
    color: #1b72e8;
}

/* specific characteristic */
#browser{
    height: 50px;
}

#logo-small,
.class-avatar{
    width: 40px;
}

#logo-big{
    height: 30px;
}

#search-bar{
    width: 90%
}

#nav-bar{
    height: calc(100vh - 50px);
    width: 50px;
    background-image: url(../img/sidebar-bg.png);
    margin-top: 50px;
}

#nav-bar .my_menu:hover{
    background-color: grey;
}

#nav-bar i{
    width: 18px;
}

#top-main,
#bottom-main{
    width: calc(100vw - 50px);
    margin-top: 50px;
    margin-left: 50px;
}

.my_button:hover{
    background-color: white;
    color: black;
}

td i{
    width: 15px;
    height: 15px;
}

@media screen and (min-width: 992px) {
    #nav-bar{
        width: 100px;
    }

    #top-main,
    #bottom-main{
    width: calc(100vw - 100px);
    margin-left: 100px;
    }

}


@media screen and (max-width: 992px) {
    th:nth-child(2),
    th:nth-child(3){
        display: none;
    }

    td:nth-child(2),
    td:nth-child(3){
        display: none;
    }
}


